.photo-grid {
  /* margin: 0 auto; */
  padding: 0 5% 92px;
  width: 100%;
  display: grid;
  justify-content: stretch;
  justify-items: stretch;
  /* grid-auto-columns: 300px; */
  /* grid-template-rows: 100%; */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  background-color: orange;
  /* grid-auto-rows: 100%; */
  gap: 14px;
  /* justify-items: start; */
  /* justify-content: stretch; */
  box-sizing: border-box;
}

.photo-grid1 {
  /* margin: 0 auto; */
  padding: 0 5% 92px;
  width: 100%;
  display: block;
  height: 500px;

  /* grid-auto-columns: 300px; */
  /* grid-template-rows: 100%; */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  background-color: olive;
  /* grid-auto-rows: 100%; */
  gap: 14px;
  /* justify-items: start; */
  /* justify-content: stretch; */
  box-sizing: border-box;
}

.photo-grid__item {
  position: relative;
  background-color: olivedrab;
  padding-bottom: 75%;
  /* width: 300px; */
  /* height: 200px; */
  /* overflow: hidden; */
  /* object-fit: fill; */
}

.photo-grid__image {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
