@import url(./vendor/normalize.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/logo/logo.css);
@import url(./blocks/lead/lead.css);



@font-face {
  font-family: 'Inter';
  src: url(./vendor/fonts/InterWeb/Inter-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(./vendor/fonts/InterWeb/Inter-Bold.woff);
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(./vendor/fonts/InterWeb/Inter-Black.woff);
  font-weight: 900;
}

.language {
  color: red;
  list-style-type: none;
}

.language__item {
  display: inline;
  text-decoration: none;
}



