/* @import url(./__logo/header__logo.css); */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 128px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 48px;
}


.header__logo-link {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
}

.header__logo-link:hover {
  opacity: 0.8;
}

.header__logo-image {
  max-height: 52px;
  max-width: 176px;
  display: block;
}
.language {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.language__item {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 18px;
  box-sizing: border-box;
}

.language__link {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  /* text-decoration: underline; */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  color: #ffffff;
  /* text-decoration: none; */
}

.language__link_inactive {
  text-decoration: none;
}

.language__link_inactive:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .header {
    /* background-color: red; */
    /* height: 136px; */
  }
}

@media screen and (max-width: 1280px) {
  .header {
    /* padding: 0 5% 0; */
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 420px) {
  .header {
    height: 106px;
    padding: 0 16px 0;
  }

  .header__logo-image {
    width: 142px;
    height: 42px;
  }

  .language__link {
    font-size: 18px;
    line-height: 1.33;
  }
}



