@import url(./__logo-link/header__logo-link.css);
@import url(./__logo-image/header__logo-image.css);
@import url(./__languages/header__languages.css);
@import url(./__language/header__language.css);
@import url(./__language-link/header__language-link.css);
@import url(./__language-link/_active/header__language-link_active.css);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-height: 136px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 48px 0;

  background-color: #2A2C2F;
  color: #ffffff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}



@media screen and (max-width: 1024px) {
  .header {
    padding-left: calc(9.375vw - 48px);
    padding-right: calc(9.375vw - 48px);
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 24px 0;
  }
}

@media screen and (max-width: 420px) {
  .header {
    min-height: 106px;
    padding: 0 16px 0;
  }

}



