.content {
  margin: 0 auto;
  padding: 0 0 92px 0;
  width: 100%;
  max-width: 1184px ;

  background-color: #2A2C2F;
  color: #ffffff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}


@media screen and (max-width: 1024px) {
  .content {
    padding-bottom: calc(76px + 1.5625vw);
  }
}


@media screen and (max-width: 768px) {
  .content {
    /* padding-bottom: calc(44px + 6.25vw); */
    padding-bottom: calc(46.9px + 5.357vw);
  }
}
