.intro {
  padding: 0 0 92px;
  margin: 0 auto;
  /* background-color: olive; */
  width: 90%;
  max-width: 984px;

}

.intro__title {
  margin: 0 0 40px;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 54px;
  line-height: 1.07;
  font-weight: 900;
  text-align: left;
  color: #ffffff;
  max-width: 690px;
}

.intro__text {
  margin: 0 0 32px;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  max-width: 690px;

}

.intro__list {
  margin: 0 auto 32px;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
  list-style-type: none;
}

.intro__list-value {
  font-weight: 400;
}


@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
  .intro__title {
    /* margin: 0 0 40px; */
    /* padding: 0; */
    /* font-family: 'Inter', Arial, Helvetica, sans-serif; */
    font-size: calc(16.2857px + 275vw/56);
    /* line-height: 1.09; */
    /* font-weight: 900; */
    /* text-align: left; */
    /* color: #ffffff; */
    /* max-width: 690px; */
  }
}

@media screen and (max-width: 320px) {



}

