@import url(./__title/place__title.css);
@import url(./__image/place__image.css);
@import url(./__website/place__website.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__link/place__link.css);
@import url(./__paragraph/place__paragraph.css);

.place {
  display: grid;
  grid-template-columns: 27fr 28fr;
  grid-template-rows: auto auto;
  grid-auto-flow: column;
  gap: 48px 3.125vw;
  margin: 0;
  padding: 0 0 80px;

  background-color: #2A2C2F;
  color: #ffffff;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    padding-bottom: calc(48px + 3.125vw);
    grid-template-columns: calc(40px + 39.0625vw) auto;

  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: calc(100vw - 428px) auto;
    /* grid-template-columns: 1fr minmax(min-content, 356px); */

  }
}

@media screen and (max-width: 650px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    row-gap: 33px;
    padding-bottom: 48px;
  }
}

